.button-18 {
  margin: 2px;
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}
.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

body {
  background-image: url("./images/bg2.jpg");
  /* background image from https://www.vecteezy.com/vector-art/7169479-asanoha-japanese-traditional-seamless-pattern-with-modern-cream-grey-gradient-color-background-use-for-fabric-textile-cover-wrapping-interior-decoration-elements Asanoha Japanese traditional seamless pattern with modern cream grey gradient color background. Use for fabric, textile, cover, wrapping, interior decoration elements. Vectors by Vecteezy */
}

.navButtons {
  display: inline-block;
  border-radius: 4px;
  background-color: #0A66C2;
  color: #ffffff;
  text-align: center;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;  padding: 10px;
  width: 100px;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
  border: none;
  outline: none;
}

.homeP {
  text-align: center;
  margin: auto;
  width: 350px;
  line-height: 25px;
  font-size: x-large;
}

.navButtons:hover {
  background-color: #16437E;
}

.pageNavLinks {
  text-align: center;
}

.pageHeaders {
  text-align: center;
  padding-left: 10px;
  font-family: Arial, sans-serif;
}

.newExerciseFormDiv {
  text-align: left;
  font-family: Arial, sans-serif;
  width: 400px;
  margin: auto;
  background-color: lightpink;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.exerciseCard {
  text-align: left;
  width: 400px;
  margin: 0 auto;
  background-color: lightpink;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

.cardTextArea {
  font-family: Arial, sans-serif;
  padding: 15px;
}

.workoutCardDiv {
  text-align: left;
  font-family: Arial, sans-serif;
  width: 400px;
  margin: auto;
  background-color: lightpink;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.2);
}

form {
  font-family: Arial, sans-serif;
  background-color: lightpink;
}

input[type=text], input[type=password], textarea {
  border: none;
  width: 90%;
  margin-bottom: 10px;
  font-size: 16px;
  background-color: #e8e8e8;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

label {
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}


